{% extends "index.html" %}
{% block content %}

<div class="section">
    <div class="container">
		<div class="row">
			{% for car in all_cars %}
		<div class="col-md-4 col-xs-6">
			<div class="product">
				<div class="product-img" stlye="max-width: 293px; max-height: 195px;">
					<img src="{{ car.car_photo_1.url }}" alt="">
				</div>
				<div class="product-body">
					<h3 class="product-name"><a href="{{ car.id }}">{{ car.car_make }} {{ car.car_model }} {{ car.car_engine }}</a></h3>
					<h4 class="product-price">{{ car.car_poster_price }} €</h4>
				</div>
			</div>
			</div>
			{% endfor %}
		</div>
    </div>
</div>
<nav aria-label="...">
	 <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}