{% extends "index.html" %}
{% block content %}
<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_1.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_2.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_3.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_4.url }}" alt="">
								{% endif %}
							</div>
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_5.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_6.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_7.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_8.url }}" alt="">
								{% endif %}
							</div>
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_9.url }}" alt="">
								{% endif %}
							</div>
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_10.url }}" alt="">
								{% endif %}
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_1.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_2.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_3.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_4.url }}" alt="">
								{% endif %}
							</div>
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_5.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_6.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_7.url }}" alt="">
								{% endif %}
							</div>

							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_8.url }}" alt="">
								{% endif %}
							</div>
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_9.url }}" alt="">
								{% endif %}
							</div>
							<div class="product-preview">
								{% if carposter.car_photo_1.url != "no_car_photo.png" %}
								<img src="{{ carposter.car_photo_10.url }}" alt="">
								{% endif %}
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{ carposter.car_make }} {{ carposter.car_model }} {{ carposter.car_engine }}</h2>
							<div>
								<h3 class="product-price">{{ carposter.car_poster_price }} €</h3>
							</div>
							<ul>
								<li><i class="fa fa-car"></i> Seller: {{ carposter.car_poster_owner.user.username }}</li><br>
								<li><i class="fa fa-car"></i> Location: {{ carposter.car_poster_owner.location }}</li><br>
								<li><i class="fa fa-car"></i> Email: {{ carposter.car_poster_owner.user.email }}</li><br>
								<li><i class="fa fa-car"></i> Phone Number: {{ carposter.car_poster_owner.phone_number }}</li><br>
								<li><i class="fa fa-car"></i> Date: {{ carposter.poster_date }}</li><br>
							</ul>

							<div class="product-options">
							</div>

							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Buy</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i>Like this Car</a></li>
							</ul><br>
							<div>
								<p><i class="fa fa-car"></i> Viewed: 0</p>
							</div>
							<div>
								<h3 class="product-price">{{ carposter.sellers_likes | length }} Likes</h3>
							</div>
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li>
							</ul>
							<!-- /product tab nav -->
							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>{{ carposter.description }}</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->
								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
										<div class="col-md-4 col-xs-6">
											 <ul>
												 <li><i class="fa fa-car"></i> Make: {{ carposter.car_make }}</li><br>
												 <li><i class="fa fa-car"></i> Model: {{ carposter.car_model }}</li><br>
												 <li><i class="fa fa-car"></i> Engine: {{ carposter.car_engine }}</li><br>
												 <li><i class="fa fa-car"></i> Production Year: {{ carposter.car_year }}</li><br>
												 <li><i class="fa fa-car"></i> Millage: {{ carposter.car_millage }}</li><br>
											</ul>
										</div>
										<div class="col-md-4 col-xs-6">
											 <ul>
												 <li><i class="fa fa-car"></i> Chassis Type: {{ carposter.car_chassis_type }}</li><br>
												 <li><i class="fa fa-car"></i> Fuel Type: {{ carposter.car_fuel_type }}</li><br>
												 <li><i class="fa fa-car"></i> Door Number: {{ carposter.car_door_number }}</li><br>
												 <li><i class="fa fa-car"></i> Driven Wheels: {{ carposter.car_drive_wheel }}</li><br>
												 <li><i class="fa fa-car"></i> Type of Transmission: {{ carposter.car_transmission }}</li><br>
											</ul>
										</div>
										<div class="col-md-4 col-xs-6">
											 <ul>
												 <li><i class="fa fa-car"></i> Car Weight: {{ carposter.car_weight }}</li><br>
												 <li><i class="fa fa-car"></i> Vin Number: {{ carposter.car_vin_number }}</li><br>
												 <li><i class="fa fa-car"></i> Color: {{ carposter.car_color }}</li><br>
												 <li><i class="fa fa-car"></i> MOT Date: {{ carposter.car_MOT }}</li><br>
												 <li><i class="fa fa-car"></i> Poster Date: {{ carposter.poster_date }}</li><br>
											</ul>
										</div>
								</div>
								<!-- /tab2  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}