{% extends "index.html" %}
{% block content %}
<div class="section">
    <div class="container">
		<div class="row">
			{% if user_cars %}
			{% for car in user_cars %}
		<div class="col-md-4 col-xs-6">
			<div class="product">
				<div class="product-img">
					<img src="{{ car.car_photo_1.url }}" style="max-width: 380px; max-height: 200px; object-fit: cover;" alt="">
				</div>
				<div class="product-body">
					<h3 class="product-name"><a href="{{ car.id }}">{{ car.car_make }} {{ car.car_model }} {{ car.car_engine }}</a></h3>
					<h4 class="product-price">{{ car.car_poster_price }} €</h4>
				</div>
			</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="bg-danger ">You don't have any uploaded Car Posters</div>
			{% endif %}
		</div>
    </div>
</div>
<nav aria-label="...">
	 <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}